@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px; // ajusta el tamaño según sea necesario
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  min-height: 100vh;
  animation: gradientMovement 15s ease infinite;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


h1 {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

input {
  font-size: 1rem;
  margin-left: 5px;
}



.btn-generate{
  border: 1px solid;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
  border-color: #ffffff;
  background-color: transparent;
    background-repeat: no-repeat;
    border-radius:1%;
    
   

}


.generate-btn:hover {
  filter: brightness(120%);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; // Añade la animación del degradado en el hover
}

.password-display {
  border: 1px solid #ccc;
  padding: 12px;
  font-size: 16px;
  font-family: monospace;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin-bottom: 20px;
}

.security-tips {
  text-align: left;
}

.security-tips h2 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.security-tips ul {
  padding-left: 20px;
}

.security-tips li {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: 5px;
}


.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  
}

.password-display {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  min-width: 300px;
  height: 25px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.199);
}

.password-text {
  flex-grow: 1;
  text-align: center;
}

.copy-btn {
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 0.3s;
  width: 35px;
  height: 35x;
  object-fit: contain;
  position: absolute;
  right: 10px;
}

.copy-btn:hover {
  filter: brightness(80%);
}
